<p id="notice"><%= notice %></p>
<div class="row mr-0">
  <div class="col-md-4 ml-3">
      <h2 class="text-center">
        <span>Tarea:</span>
        <strong><%= @task.name %></strong>
      </h2>

    <div class="card mb-3">
      <%= image_tag @task.photo, class: "card-img-top" %>
      <%= link_to 'Atrás', tasks_path, class: "text-center btn-dark rounded-bottom p-2" %>
    </div>
  </div>
  <div class="col-md-6 mr-3">
    <h2 class="text-center font-weight-bold">Ranking de Usuarios</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Email</th>
            <th scope="col">Realizada a la fecha de:</th>
          </tr>
        </thead>
        <tbody>
        <% @task.ranking_members.each_with_index do |todo, n| %>
          <tr>
            <th scope="row"><%= (n + 1) %></th>
            <td><%= todo.user.email %></td>
            <td><%= time_tag todo.done_at %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
  </div>
</div>