<div class="jumbotron jumbotron-fluid">
  <h1 class="text-center font-weight-bold" style="font-size: 2.5em">TAREAS DIECIOCHERAS REALIZADAS</h1>
  <h2 class="text-center font-italic">Por: <%= current_user.email%></h2>
</div>
<div class="container-fluid">
  <% @todos.each do |todo| %>
    <% if todo.task.completed?(current_user.id)%>
      <div class="col-md-4 col-lg-3 col-sm-12 float-left">
        <div class="card mx-auto mb-2">
          <%= image_tag todo.task.photo, class:'card-img-top' %>
          <div class="card-body">
            <h5 class="card-title text-center"><%= todo.task.name %></h5>
            <h6 class="card-text text-center"><%= current_user.last_done(todo.task.id) %></h5>
            <div class="btn-group d-flex justify-content-center">
              <%= link_to "Deshacer", task_todos_path(todo.task), method: :post, class: "btn btn-danger" %>
              <%= link_to "Ranking", tasks_ranking_path(todo.task), method: :get, class: "btn btn-warning" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <div class="w-100" style="margin-top: 3rem"> </div>
  <% end %>
</div>